# Bash scripts
script.sh

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# YOLO
runs/
*.pt

# Datasets
dataset/images/
dataset/labels/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
xcuserdata/

# VSCode
.vscode/
